body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  color: inherit;
  text-decoration: none;
  border: 0.1rem solid transparent;
  border-bottom-color: currentColor;
  transition: color 0.2s ease-in-out;
}

a:hover {
  color: hsl(200, 60%, 50%);
}

a:focus {
  outline: none;
  border-color: currentColor;
}

footer {
  margin-top: auto;
  padding: 2rem 1rem;
  color: hsl(0, 0%, 99%);
  background: hsl(220, 5%, 2%);
  line-height: 1.5;
  text-align: center;
}

footer > * + * {
  margin-top: 0.5rem;
}

footer a:hover {
  color: hsl(170, 60%, 60%);
}

@supports (display: grid) {
  footer {
    display: grid;
    grid-template-columns: 1fr minmax(auto, 42rem) 1fr;
    text-align: initial;
    grid-column-gap: 2.5vw;
  }

  footer > * {
    grid-column: 2;
  }
}
