*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

body {
  text-rendering: optimizeSpeed;
  font-family: 'Lato', sans-serif;
  color: hsl(240, 10%, 10%);
  background: hsl(240, 20%, 97%);
}

::selection {
  background: hsl(215, 75%, 85%);
}

.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}
