{% extends "layouts/base.njk" %}

{% block style %}
    {% include "css/index.css" %}
{% endblock %}

{% block content %}
    <a class="visually-hidden" id="skip-to-content" href="#content">Skip to content</a>

    <header>
        <h1>{{title}}</h1>
        <p>{{description}}</p>
    </header>

    <section>
        <a href="https://github.com/borntofrappe/html-entities/blob/master/{{ page.inputPath }}">
            Edit on GitHub
            <svg aria-hidden="true" aria-focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="-50 -50 100 100" width="1em" height="1em">
                <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
                    <g stroke-width="8">
                    <path d="M 16.5 -44 h -52.5 a 10 10 0 0 0 -10 10 v 68 a 10 10 0 0 0 10 10 h 54 a 10 10 0 0 0 10 -10 v -17.5"/>
                    <path d="M 29 -37.5 l 17 17 -38 38 h -17 v -17 l 38 -38"/>
                    </g>
                    <g stroke-width="7">
                    <path d="M 20 -28.5 l 17 17"/>
                    <path d="M -30 -22 h 25"/>
                    <path d="M -30 -2 h 10"/>
                    <path d="M -30 18 h 10"/>
                    </g>
                </g>
            </svg>
        </a>
        <a href="/static/html-entities.png" download="html-entities.png">
            Download image
            <svg aria-hidden="true" aria-focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="-50 -50 100 100" width="1em" height="1em">
                <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
                    <g stroke-width="8">
                    <path d="M 36 -44 h -54 a 10 10 0 0 0 -10 10 v 15 m 30 63 h 34 a 10 10 0 0 0 10 -10 v -68 a 10 10 0 0 0 -10 -10"/>
                    </g>
                    <g stroke-width="7">
                    <path d="M -32.5 32 h -2 a 12 12 0 0 1 0 -24 a 17 17 0 0 1 34 0 h 2 a 12 12 0 0 1 0 24"/>
                    <path d="M -15.5 20 v 20 l -8 -8 m 16 0 l -8 8" />
                    <path d="M -12 -22 h 40"/>
                    <path d="M 10 -2 h 18"/>
                    <path d="M 24 18 h 4"/>
                    </g>
                </g>
            </svg>
        </a>
    </section>

    <main id="content">
        {{ content | safe }}
    </main>
{% endblock %}